<h2> Your Search result: </h2>

        <% if(movie !== null){ %>
          <p><%= movie %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>

        <a href="/">Search Again</a>